/* Scrollbar */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2e3142;
}


.card_form_input {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    width: 80%;
}

.submit-button {
    position: absolute;
    right: 10px;
  }

@media (max-width: 991px) {
    .card_form_input {
        width: 65%;
    }
}

.modal_form_input {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.stickyy {
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
}

.aspect-ratio-container {
    position: relative;
    height: 0;
    padding-top: calc(3 / 4 * 100%);
}
  
.aspect-ratio-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
}
  
img.aspect-ratio-item {
    object-fit: cover;
}

.hover-cursor-pointer {
    cursor: pointer;
}

/* Comment */

.comment {
    display: flex;
    align-items: flex-start;
}

.comment-body {
    flex: 1;
}

.fixed-comment-panel {
    min-height: 330px;
    max-height: 330px;
    overflow-y: scroll;
}

.fixed-comment-card {
    min-height: 480px;
    max-height: 480px;
    overflow-y: scroll;
}

.pointer-cursor:hover {
    cursor: pointer;
}


/* Navigasyon Cubuklari */
.mobil-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #282A34;
    color: white;
    text-align: center;
    display: none;
}

@media only screen and (max-width: 992px) {
    .mobil-nav {
        display: block;
    }
}


/* snackbar css */

#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 16px;
    position: fixed;
    z-index: 1; 
    left: 50%; 
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

